body {
  background-image: url("./backgroundHome.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.container {
  display: flex;
  justify-content: center;
}
.texteHome {
  width: 750px;
  margin-left: 150px;
  margin-top: 110px;
}
.texteHome h1 {
  background: #ffffff;
  background: -webkit-radial-gradient(
    ellipse farthest-corner at center center,
    #ffffff 40%,
    #cf1c00 100%
  );
  background: -moz-radial-gradient(
    ellipse farthest-corner at center center,
    #ffffff 40%,
    #cf1c00 100%
  );
  background: radial-gradient(
    ellipse farthest-corner at center center,
    #ffffff 40%,
    #cf1c00 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3.5rem;
}
.texteHome p {
  font-size: 1.5rem;
  margin-left: 100px;
  color: aliceblue;
}
.exitt {
  color: #fffdfd;
}
.videoHome {
  font-size: 100px;
  margin-left: 450px;
  background: #fffdfd;
  background: -webkit-radial-gradient(
    ellipse farthest-corner at center center,
    #fffdfd 63%,
    #e3360b 100%
  );
  background: -moz-radial-gradient(
    ellipse farthest-corner at center center,
    #fffdfd 63%,
    #e3360b 100%
  );
  background: radial-gradient(
    ellipse farthest-corner at center center,
    #fffdfd 63%,
    #e3360b 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  align-items: flex-end;
}
.quitter {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 450px;
}
.videoAcceuil {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 500px;
}
.quitter {
  color: white;
  position: relative;
  left: 500px;
}

/* Deuxieme Page///////////////////////////////////////////////////////////////////////////////////////////////////////// */

@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

.secondPage {
  margin-top: 200px;

  font-family: "Times New Roman", Times, serif;
}
.titleSecond {
  position: relative;
  top: 40px;
  margin-left: 50px;
  font-size: 25px;
  color: rgb(255, 255, 255);
}

.containerCard {
  position: relative;
  top: 30px;
  padding: 50px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card {
  height: 400px;
  max-width: 350px;
  margin: 0 20px;
  background: white;
  transition: 0.4s;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.card:hover {
  height: 470px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.card .img {
  height: 300px;
  width: 100%;
}
.card .img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.card .top-text {
  padding: 5px;
}
.card .top-text .name {
  font-size: 25px;
  font-weight: 600;
  color: #202020;
}
.card .top-text p {
  font-size: 20px;
  font-weight: 600;
  color: #e74c3c;
  line-height: 20px;
}
.card .bottom-text {
  padding: 0 20px 10px 20px;
  margin-top: 5px;
  background: white;
  opacity: 0;
  visibility: hidden;
  transition: 0.1s;
}
.card:hover .bottom-text {
  opacity: 1;
  visibility: visible;
}
.card .bottom-text .text {
  text-align: justify;
}
.card .bottom-text .btn {
  margin: 10px 0;
  text-align: left;
}
.card .bottom-text .btn a {
  text-decoration: none;
  background: #e74c3c;
  color: #f2f2f2;
  padding: 5px 8px;
  border-radius: 3px;
  display: inline-flex;
  transition: 0.2s;
}
.card .bottom-text .btn a:hover {
  transform: scale(0.9);
}

/* Troisieme Page////////////////////////////////////////////////////////////////////////////////////////////////////////////////  */

.containerContact {
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url("../pages/newBk.png");
  margin-top: 81px;
  background-size: cover;
}

.containerContact .contactHeader {
  max-width: 800px;
  text-align: center;
}

.containerContact .contactHeader h1 {
  font-size: 36px;
  font-weight: 500;
  color: #f2f2f2;
}

.containerContact .contactHeader p {
  font-weight: 400px;
  color: #fffdfd;
}

.contactBody {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.contactBody .contactInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.box {
  position: relative;
  padding: 0px 0px;
  display: flex;
}

.box .icon {
  min-width: 60px;
  height: 60px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 25px;
}

.box .text {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  font-size: 16px;
  color: #f2f2f2;
  font-weight: 500;
}

.box a {
  text-decoration: none;
}

.text p {
  position: relative;
  bottom: 30px;
}

.text h3 {
  font-weight: 600;
  color: #00c2f3;
}

.contactForm {
  width: 40%;
  padding: 40px;
  background: #ffffff;
  margin-left: 100px;
}

.contactForm h2 {
  font-size: 30px;
  color: rgb(255, 81, 0);
  font-weight: 500;
}

.contactForm .inputBox+ {
  position: relative;
  width: 100%;
  margin: 10px;
  margin-bottom: 20px;
}

.inputBox+ ,
textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px;
  border: none;
  border-bottom: solid 2px rgb(255, 23, 23);
  outline: none;
  resize: none;
}
.innerContact {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px;
  border: none;
  border-bottom: solid 1px rgb(0, 0, 0);
  outline: none;
  resize: none;
}

.inputBox+ span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px;
  pointer-events: none;
  transition: 1s;
  color: #cf1c00;
}

.inputBox+ input :focus ~ span,
.inputBox+ input :valid ~ span {
  color: brown;
  font-size: 12px;
  transform: translateY(-20px);
}

.send {
  width: 50;
  background: #00c2f3;
  color: #fffdfd;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
}
/* Quatriemme Page //////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.container4 {
  margin-top: 200px;
  display: flex;
  margin-left: 300px;
  margin-right: 150px;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: -60px;
}
.card4 {
  margin-top: 200px;
  margin-bottom: 100px;
  width: 350px;
  height: 500px;
  box-shadow: 0 0 70px 20px rgba(253, 252, 252, 0.26);
  perspective: 1000px;
  position: relative;
  right: -200px;
}

.phconnexion {
  width: 1px;
  height: 8px;
  position: relative;
  left: -200px;
  bottom: 300px;
}

.inner-box {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(rgba(1, 43, 158, 0.8), rgba(90, 1, 86, 0.8)),
    url(../pages/cardBk.png);
  padding: 55px;
  box-sizing: border-box;
  backface-visibility: hidden;
  transition: 1000ms;
}

.card-back {
  transform: rotateY(180deg);
}

.card-back span {
  color: rgb(153, 184, 212);
}

.card-back h2 {
  font-weight: normal;
  font-size: 34px;
  text-align: center;
  margin-bottom: 20px;
  color: #f2f2f2;
}

#card.visible .card-front {
  transform: rotateY(-180deg);
  transition: 1000ms;
}

#card.visible .card-back {
  transform: rotateY(0);
  transition: 1000ms;
}

.card-front h2 {
  font-weight: normal;
  font-size: 34px;
  text-align: center;
  margin-bottom: 20px;
  color: #f2f2f2;
}

.input-box {
  width: 100%;
  background: transparent;
  border: 1px solid #fff;
  margin: 6px 0;
  height: 32px;
  border-radius: 20px;
  padding: 0 10px;
  box-sizing: border-box;
  outline: none;
  text-align: center;
  color: #fff;
}

::placeholder {
  color: rgb(150, 147, 147);
  font-size: 12px;
}

button {
  width: 100%;
  background: transparent;
  border: 1px solid #fff;
  margin: 35px 0 10px;
  height: 32px;
  font-size: 12px;
  border-radius: 20px;
  padding: 0 10px;
  box-sizing: border-box;
  outline: none;
  color: #fff;
  cursor: pointer;
}

.card-front span {
  color: rgb(153, 184, 212);
}

.submit-btn {
  position: relative;
}
.submit-btn::after {
  content: "\27a4";
  color: #333;
  line-height: 32px;
  font-size: 17px;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  right: -1px;
  top: -1px;
}

.card4 .btn {
  margin-top: 70px;
}

.card4 a {
  color: #cffd00;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 13px;
  margin-top: 8px;
}

/* Profile//////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

main {
  width: 100%;
  margin: 50px auto;

  display: grid;
  color: white;
  grid-template-rows: 60px 100px 200px 60px;
  grid-template-columns: repeat(3, 1fr) 150px;
  grid-gap: 20px;
}

.div1 {
  background: rgba(179, 220, 237, 1);
  background: -moz-linear-gradient(
    left,
    rgba(179, 220, 237, 1) 0%,
    rgba(41, 184, 229, 1) 53%,
    rgba(41, 184, 229, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(179, 220, 237, 1)),
    color-stop(53%, rgba(41, 184, 229, 1)),
    color-stop(100%, rgba(41, 184, 229, 1))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(179, 220, 237, 1) 0%,
    rgba(41, 184, 229, 1) 53%,
    rgba(41, 184, 229, 1) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(179, 220, 237, 1) 0%,
    rgba(41, 184, 229, 1) 53%,
    rgba(41, 184, 229, 1) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(179, 220, 237, 1) 0%,
    rgba(41, 184, 229, 1) 53%,
    rgba(41, 184, 229, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(179, 220, 237, 1) 0%,
    rgba(41, 184, 229, 1) 53%,
    rgba(41, 184, 229, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#520013', endColorstr='#660020', GradientType=1 );
  grid-column: 1/-1;

  border-radius: 10px;
}
.div2 {
  background: rgba(255, 255, 255, 1);
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 1),
    rgba(17, 83, 254, 1)
  );
  background: -moz-linear-gradient(
    top,
    rgba(255, 255, 255, 1),
    rgba(17, 83, 254, 1)
  );
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1),
    rgba(17, 83, 254, 1)
  );
  grid-row: 2/15;
  border-radius: 10px;
}

.div2 h2 {
  color: #000000;
  font: italic 2em "Fira Sans", serif;
  margin-left: 10px;
  scroll-behavior: smooth;
}

.div2 a {
  display: block;
  justify-content: left;
  align-items: center;
  padding-bottom: 10px;
  position: relative;
  left: -50px;
  font-size: 20px;
  text-shadow: 2px 1px 3px #000000;
}
.div2 i {
  margin-right: 10px;
}
.div3 {
  grid-column: -4/5;
  background-size: cover;
  margin-top: 30px;
}
.div5 {
  grid-row: 2/-3;
  grid-column: -4/5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.niveau {
  border: 1px solid;
  border-radius: 10px;
  background-color: #f2f2f2;
  color: rgb(255, 255, 255);
  width: 30%;
  height: 100px;
  display: block;
  justify-content: center;
  align-items: center;
  padding: 10px;
  -webkit-box-shadow: 0px 4px 16px 1px #000000;
  box-shadow: 0px 4px 16px 1px #000000;
  background: rgba(179, 220, 237, 1);
  background: -moz-linear-gradient(
    left,
    rgba(179, 220, 237, 1) 0%,
    rgba(41, 184, 229, 1) 53%,
    rgba(41, 184, 229, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(179, 220, 237, 1)),
    color-stop(53%, rgba(41, 184, 229, 1)),
    color-stop(100%, rgba(41, 184, 229, 1))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(179, 220, 237, 1) 0%,
    rgba(41, 184, 229, 1) 53%,
    rgba(41, 184, 229, 1) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(179, 220, 237, 1) 0%,
    rgba(41, 184, 229, 1) 53%,
    rgba(41, 184, 229, 1) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(179, 220, 237, 1) 0%,
    rgba(41, 184, 229, 1) 53%,
    rgba(41, 184, 229, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(179, 220, 237, 1) 0%,
    rgba(41, 184, 229, 1) 53%,
    rgba(41, 184, 229, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#29b8e5', GradientType=1 );
}
.niveau h2 {
  position: relative;
  top: -10px;
  text-shadow: 6px 2px 7px rgba(0, 0, 0, 0.82);
}
.niveau p {
  position: relative;
  top: -30px;
  color: darkred;
}
.div6 {
  background-color: #ffa502;
  grid-column: 1/ 4;
}
.div7 {
  background-color: #00d2d3;
  grid-column: 1/-1;
  margin-top: 400px;
}
