/* .sidebar {
  flex: 1;
  height: calc(100vh - 50px);
  background-color: rgb(236, 236, 236);
  position: sticky;
  top: 50px;
  margin-right: 2px;
}

.headerSidbar {
  margin-bottom: 50px;
  background-color: rgb(5, 0, 82);
  background-size: cover;
  padding: 1px auto;
  font-size: 20px;
  color: rgb(236, 236, 236);
  padding: 5px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  align-items: center;
}

.headerSidbar h3 {
  text-align: center;
}

.levelSidbar {
  background-color: rgb(221, 81, 0);
  background-size: cover;
  padding: 10px auto;
  font-size: 20px;
  color: rgb(236, 236, 236);
  padding: 1px;
  margin-right: 50px;
  margin-left: 50px;
  align-items: center;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  margin-bottom: 20px;
  position: sticky;
  top: 0px;
  z-index: 999;
  cursor: pointer;
}

.levelSidbar h3 {
  text-align: center;
}
 */
